<ion-view title="Locales cercanos">
    <ion-content id="map-and-location">
        <div class="content has-header" >
            <div class="row"  ng-repeat="shop in nearShops1">
                <div class="card" >
                    <div class="item item-text-wrap" >
                        <div class="item item-body">
                            <h2>{{shop.idAct.razonSocialAct}}</h2>
                            <a href="#/app/shop/{{shop.idAct.idAct}}">
                                <img class="full-image" src="http://186.5.121.17:9090/cashback/imagenes/{{shop.idAct.logoAct}}" >
                            </a>
                            <p>{{shop.idAct.sloganAct}}</p>
                            <p>{{shop.idAct.servicioAct}}</p>
                            <p><a href="#/app/mapshop/{{shop.idAct.idAct}}">
                               Geolocalizaci&oacute;n
                            </a></p>
                            <div class="social-buttons positive">
                                <button class="button button-light col col-20" ng-click="shareViaFb('Mira este lugar que me gustó: {{shop.idAct.razonSocialAct}}', null, 'https://www.thepolyglotdeveloper.com')">
                                    <i class="icon ion-social-facebook"></i>
                                </button> 
                                <button class="button button-light col col-20" ng-click="shareViaTwitter('Mira este lugar que me gustó: {{shop.idAct.razonSocialAct}}', null, 'https://www.thepolyglotdeveloper.com')">
                                    <i class="icon ion-social-twitter"></i>
                                </button> 
                                <button class="button button-light col col-20" ng-click="shareAnywhere('Mira este lugar que me gustó: {{shop.idAct.razonSocialAct}}', null, 'https://www.thepolyglotdeveloper.com') ">
                                    <i class="icon ion-share"></i>
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </ion-content><!--map and location section-->
</ion-view>
