<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content" >
            <ion-list>
                    <div class="item item-avatar">
                        
                        <img src="{{user.picture}}"/>
                        <h2 class="padding">{{user.name}}</h2>
                        <p>Se encuentra en:</p>
                        <p>Latitud {{lat}}</p>
                        <p>Longitud {{long}}</p>
                        
                    </div>
            </ion-list>
            <div class="tabs tabs-dark tabs-icon-top static">
                <a ui-sref="app.map" class="tab-item">
                    <i class="icon ion-arrow-graph-up-right"></i> Locales Cercanos
                </a>
                <a ui-sref="app.category" class="tab-item">
                    <i class="icon ion-images"></i> Categor&iacute;as
                </a>
            </div>
        </div>
        <div id="profile-map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
